body {
    text-align: center;
}

/*  Icons */

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?e83dlr');
	src:url('fonts/icomoon.eot?#iefixe83dlr') format('embedded-opentype'),
		url('fonts/icomoon.woff?e83dlr') format('woff'),
		url('fonts/icomoon.ttf?e83dlr') format('truetype'),
		url('fonts/icomoon.svg?e83dlr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	font-size: 1.5em;
}

.icon-link:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-github:before {
	content: "\e602";
}
.icon-linkedin:before {
	content: "\e603";
}
.icon-mail:before {
	content: "\e604";
}

.icon-mail {
	padding-top: 5px;
}

/* General styling */

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.7em;
	font-weight: 400;
	color: #333;
}

#name {
	display: block;
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	font-size: 1.7em;
	font-weight: 100;
	line-height: 1;
}

#project {
	line-height: 0.7;
	font-size: 3.8em;
	font-weight: 300;
	padding-height: -5%;
}

h1, a {
	color: #747784;
}

h2 {
	font-size: 2.2em;
}

.section-heading {
	font-style: italic;
}

li {
	display: inline-block;
	list-style : none;
}

.container {
	padding: 0 30px;
}

.primary-color {
	color: #03bbc5;
}

.contrasting-1-color {
	color: #002b2e;
}

.contrasting-2-color {
	color: #646464;
}

.analgous-color {
	color: #008cb0;
}

.muted-color {
	color: #777;
}

/* Header */

header {
	color: #002b2e;
	margin-top: 40px;
}

header h4 {
	padding-bottom: 10px;
}

.contactBar {
	background-color: #eee;
	color: #bbb;
	padding: 8px;
	border-radius: 5px;
}

.contactBar ul {
	display: inline-block;
	float: none;
}

.contactBar ul li {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
}

header .row {
	margin-left: 0;
}

/* Footer */

footer {
	padding-top: 0px;
	color: black;
	clear: both;
}

#javascript {
	font-family: 'Montez', 'Brush Script MT', 'Papyrus', cursive;
	color: #008cb0 ;
	font-size: 1.6em;
}

.github {
	height: auto;
	width: auto;
	max-width: 20px;
	max-height: 20px;"
}

button {
	color: white;
	background-color: #03bbc5;
	border: #03bbc5;
}

.btn:hover {
	background-color: #29E1EB;
	color: white;
}

.btn:focus {
	outline: none;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
	.programming-col h1 {
	font-size: 3em;
	}
	.navy-col, .lawyer-col {
		height: 400px;
	}
}

@media screen and (max-width: 1000px) {
	.main ul li{
		margin-bottom: -20px;
		margin-top: -20px;
	}
	footer {
		padding-top: 30px;
	}
	.contact-list {
		text-align: center;
	}
	.navy-col, .lawyer-col {
		height: 260px;
	}

}

@media screen and (max-width: 700px){
	footer {
		padding-top: 60px;
	}
	#mapDiv {
		height: 300px;
		width: 300px;
	}
	.navy-col, .lawyer-col {
		height: auto;
	}
}
